<section>
  <h1 id="abouttheauthor">關於我</h1>

  <p>我是gogojimmy。</p>
  <p><a href="http://www.vim.org">Vim</a> 是混飯吃的工具，<a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://en.wikipedia.org/wiki/Objective-C">Objective-C</a>、<a href="http://java.com/">Java</a> 是我用來騙飯吃的技術</p>
  <p>現在在 <a href="http://www.passionbean.com">Passionbean</a> 混飯吃，這年頭當程式設計師不容易，只好偶爾寫寫文章裝懂一下，其實一直覺得寫這個很麻煩。</p>
  <p>如果你想寫信給我的話可以寄信到 <a href="mailto:jimmy@gogojimmy.net">jimmy@gogojimmy.net </a></p>
</section>
